[submodule "front"]
	path = front
	url = https://github.com/mdhif/portfolio-front
[submodule "back"]
	path = back
	url = https://github.com/mdhif/portfolio-backend

[submodule "nginx"]
	path = nginx
	url = https://github.com/mdhif/portfolio-nginx.git
